    <!--Feature-->
  <section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Our Vision</h2>
          <p>Make learning awesome! We want to improve education all over the world and help everyone – of any age, <br>aptitude or circumstance – unleash the magic of learning. Our vision is to build the leading learning platform in the world.,</p>
          <hr class="bottom-line">
        </div>
        <div class="feature-info">
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Create a Quiz</h4>
                <p>It only takes minutes to create a learning game or trivia quiz on any topic, in any language..</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-css3"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Host!</h4>
                <p> Host a game with questions on a big screen to engage students, colleagues, your friends or family.</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-drupal"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div class="col-md-4">
              <div class="heading pull-right">
                <h4>Play!</h4>
                <p>Game on! Join a QuizMe and answer questions on your device..</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-trophy"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ feature-->









  
  <section id="courses" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Quizzes</h2>
          <hr class="bottom-line">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        
<%@quizzes.each do |quiz|%>
<div class="col-md-4 col-sm-6 padleft-right">
          <figure class="imghvr-fold-up">
            <img src="img/thumbnails/<%=quiz.image_url%>" class="img-responsive">
            <figcaption>
              <h3><%= quiz.title %></h3>
              <p><%= quiz.description %></p>
            </figcaption>
            <a href=<%= quiz_path(quiz) %>></a>
          </figure>
        </div>
<%end%>

      </div>
    </div>
  </section>


