<h1>WELCOME!</h1>

<h3><p> Hi <%= @user.nick_name %>!</p> </h3>
<br/>
<% @user.participants.each do |participant| %>
<ul>
<li>
<%= link_to participant.quiz.title, quiz_path(participant.quiz) %>
</li>
</ul>
<% end %>


<br/>
<%= form_with url:'/logout', method: 'delete' do |f| %>
<%= f.submit 'logout' %>
<% end %>
