<h1>WELCOME!</h1>

<p> Hi <%= @user.nick_name %>!</p> 
<br/>
<% @user.participants.each do |participant| %>
<%= link_to participant.quiz, quiz_path(participant.quiz) %>

<% end %>


<%= form_with url:'/logout', method: 'delete' do |f| %>
<%= f.submit 'logout' %>
<% end %>
